@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background: linear-gradient(180deg, #5B48D5 43.75%, rgba(88, 248, 74, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;

}

.w50 {
    width: 50%;
    float: left;
    padding-right: 15px;
}

.input-group_desk {
    position: absolute;
    width: 15px;
    height: 15px;
    left: -400px;
    top: 35px;
}
.box{
   display: flex;
   width: 930px;
}

.img-box{
    background: linear-gradient(180deg, #58F84A 0%, rgba(88, 248, 74, 0.12) 100%);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img{
    width: 150%;
}

.form-box{
    background: linear-gradient(180deg, #58F84A 0%, rgba(88, 248, 74, 0.1) 100%);
    backdrop-filter: blur(20px);
    padding: 20px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

.form-box h1{
    font-size: 32px;
}

.form-box p{
    font-weight: bold;
    color: #0C0B0B;
}

.form-box p a{
    color: #5B48D4;
    text-decoration: none;
    text-decoration: underline;
    font-size: 18px;
}

.form-box form{
    margin: 20px 0;
}

form .input-group{
    margin-bottom: 20px;
}

form .input-group label{
    color: #0C0B0B;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

form .input-group input{
    width: 100%;
    height: 47px;
    background-color: #FFFF;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 14px;
    color: #5B48D5;
    font-style: bold;
    transition: all 0.4s ease;
}

form .input-group input:focus{
    border-color: #5B48D9;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background: #58F84A;
    border-radius: 20px;
    outline: none;
    border: bold;
    border-color: #5B48D4;
    margin-top: 15px;
    color: #5B48D4;
    cursor: pointer;
    font-size: 22px;
    font-style: bold;
}
@media (max-width: 930px) {
    body {
        overflow-x: hidden;
    }
    .img-box {
        display: none;
    }
    .box{
       width: 400px; 
    }
    .form-box {
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width: 500px) {
   .w50{
        width: 100%;
        padding: 0;
   } 
}